@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #475058;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

h1, h2 {
  font-weight: 500;
}

.logoImg {
  width: 150px;
}

.master-root {
  width: 100%;
  height: calc(100vh - 64px);
}

.card {
  background-size: cover;
  position: absolute;
  background: #F8F3F3;
  height: calc(100vh - 64px);
  width: 100%;
  transition: box-shadow .3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: calc(100vh - 64px);
}

.card > div {
  height: calc(100vh - 64px);
}

.card.inactive {
  transform: translate3d(0, 0, 0px) !important;
}

.card-block {
  background-color: #fff;
  margin-top: 20px;
}

.animate {
  transition: transform .3s;
  box-shadow: none;
}

.inactive {
  box-shadow: none;
}

.alert {
  width: 100%;
  height: calc(100vh - 64px);
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
  z-index: -1;
  top: 64px;
  left: 0;
}

.alert:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 36px;
  font-family: 'Pacifico', sans-serif;
}

.alert-visible {
  z-index: 9999;
  animation-name: alertDisplayFade;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes alertDisplayFade {
  0% {
    opacity: 0;
    z-index: 9999;
  }
  50% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.alert-right {
  background: #19ab20;
}

.alert-right:after {
  content: 'Love it';
}

.alert-left {
  background: #f00;
}

.alert-left:after {
  content: 'Bummer';
}

.alert-top {
  background: #d0006f;
}

.alert-top:after {
  content: 'Get me IN';
}

.alert-bottom {
  background: #fa3;
}

.alert-bottom:after {
  content: 'Share it';
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loadingText {
  padding: 15px;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
